/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

:root {
  --card-width: 30vh;
  --card-height: 40vh;
  
  --prompt-color: gray;
  
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
}

body {
  overflow: hidden;
  font-weight: 300;
}

b {
  font-weight: 500;
}

#container {
  position: absolute;
  top: 50%;
  width: 200%;
  transform: translate(-25%, -50%);
  height: calc(var(--card-height) + 3rem);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
  /* padding-top: 10px; */
}

@media (max-device-width: 480px) {
  :root {
    --card-width: 90vw;
    --card-height: 120vw;
    font-size: 60px;
  }
  
  #container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card {
  box-sizing: border-box;
  scroll-snap-align: start;
  position: relative;
  display: block;
  margin: auto;
  width: var(--card-width);
  height: var(--card-height);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border: .5px solid gray;
  margin-bottom: 5rem;
  padding: 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  opacity: 1;
  animation: fade-in 500ms;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.card a {
  border-bottom: 1px solid white;
  background: black;
  color: white;
  cursor: pointer;
}
.card a:hover {
  box-sizing: border-box;
  border-color: black;
  background: transparent;
  color: black;
}

.card img {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  width: calc(var(--card-width) * .4);
  /* image-rendering: crisp-edges;
  image-rendering: pixelated;
  shape-rendering: crispEdges; */
}

.card.borderless {
  box-shadow: none;
  border: none;
}

.card:nth-last-child(1)::before {
  content: "scroll to continue...";
  position: absolute;
  width: 100%;
  text-align: center;
  top: -4.5rem;
  /* top: calc(var(--card-height) + .7em); */
  left: 0;
  /* font-style: italic; */
  font-size: .9rem;
  color: var(--prompt-color);
}

.card.done {
  pointer-events: none;
}

table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  margin-bottom: 1rem;
}

a {
  display: none;
}

a.selected {
  display: inline;
}

a.solo {
  border: none;
  background: white;
  color: black;
  padding: 0;
  margin: 0;
  cursor: default;
}

.dialogue {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: .5px solid gray;
  border-radius: 30px;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.dialogue::after {
  content: attr(data-name);
  position: absolute;
  top: -.4rem;
  left: 1.5rem;
  background: white;
  font-size: .8rem;
  text-transform: uppercase;
}